.poly-item img{
    height: 150px;
    max-width: 95%;
}

.poly-item .panel-title{
    font-size: small;
}

.poly-item-detail img{
    max-width: 80%;
}

.poly-item-same-kind img{
    height: 150px;
    max-width: 80%;
}
