<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" 
    th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main>
        <div th:replace="~{/cart/view::shopping_cart}"></div>
            <div class="panel panel-primary">
                <div class="panel panel-heading">ORDER PURCHASING</div>
                <div class="panel panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="form-label">Purchaser:</label>
                            <div class="form-control">[[${username}]]</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="form-label">OrderDate:</label>
                            <div class="form-control">{{order.createDate | date: 'dd-MM-yyyy'}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="form-label">Shipping Address:</label>
                            <textarea ng-model="order.address" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-footer text-right">
                    <button ng-click="order.purchase()" class="btn btn-primary">Purchase</button>
                </div>
            </div>
        </main>
    </body>
</html>