<nav class="navbar navbar-default d-flexs" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/product/list}">Home</a></li>
            <th:block th:if="${username}">
                <li><a th:href="@{/security/logoff}">Sign out</a></li>
                <li><a th:href="@{/order/list}">Your Orders</a></li>
                <li th:if="${roles.contains('ROLE_DIRE') or roles.contains('ROLE_STAF')}">
                    <a th:href="@{/admin/home/index}">Administration</a>
                </li>
            </th:block>
            <th:block th:unless="${username }">
                <li><a th:href="@{/security/login/form}">Sign in</a></li>
            </th:block>
        </ul>
        <ul th:if="${username}" class="nav navbar-nav navbar-right">
            <li><a href="#">Webcome [[${username}]]</a></li>
        </ul>
    </div>
</nav>